<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LittleYellowMan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CDC55671F170F7000BA562F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CDC55801F170F7000BA562F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CDC558B1F170F7000BA562F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
